<footer class="page-footer indigo lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Help2Save Corp.</h5>
          <a href="http://onebitcode.com/hack2save/" target="_blank">
            <p class="grey-text text-lighten-4">Uma iniciativa OneBitCode.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright Help2Save
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>
