<nav>
  <div class="nav-wrapper indigo lighten-2">
    <a href="#" class="brand-logo">
        <%= image_tag '/shared/logo-help.png', class: "img-responsive" %>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Vagas</a></li>
        <li><a href="#">Sobre</a></li>
        <!-- Modals -->
        <li><a href="#register-modal">Cadastre-se</a></li>
        <li><a href="#login-modal">Entrar</a></li>
    </ul>
  </div>
</nav>

<%= render partial: "layouts/shared/register_modal" %>
