<nav class="nav">
  <div class="container">

    <div class="nav-wrapper">
      <%= image_tag 'logo-gif.gif', class: "img-responsive", height: 60, width: 60 %>
      <%= link_to "Help2Save", root_path, class: "brand-logo", data: { turbolinks: false } %>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Home", root_path, data: { turbolinks: false } %></li>
        <li><a href="#">Vagas</a></li>
        <li><a href="#">Sobre</a></li>
        <!-- Modals -->
        <li><a href="#register-modal">Cadastre-se</a></li>
        <li><a href="#login-modal">Entrar</a></li>
      </ul> <!-- #nav-mobile -->
    </div> <!-- nav-wrapper -->

  </div> <!-- .container -->
</nav> <!-- .nav-extended -->

<%= render partial: "layouts/shared/register_modal" %>
