<!-- Modal Structure -->
<div id="register-modal" class="modal grey lighten-3">
  <div class="modal-content">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="col m9 offset-m3">
          <a class="col m9 waves-effect waves-light blue darken-4 btn-large">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
             Continuar com Facebook
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col m9 offset-m3">
          <a class="col m9 waves-effect waves-light blue lighten-2 btn-large">
            <i class="fa fa-google" aria-hidden="true"></i>
             Continuar com Google
          </a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col m7 offset-m5">
          <h5>Cadastre-se</h5>
        </div>
      </div>
      <div class="row">
        <div class="col m9 offset-m3">
          <%= link_to new_voluntary_registration_path, class: "col m9 waves-effect waves-light red accent-2 btn-large" do %>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Como Voluntário
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col m9 offset-m3">
          <a class="col m9 waves-effect waves-light red accent-2 btn-large">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
             Como Instituição
          </a>
        </div>
      </div>
      <div class="row">
        <p align="center">
          Ao clicar em Cadastrar ou Continuar, eu concordo com os Termos de Serviço,
          os Termos de Serviço de Pagamentos, a Política de Privacidade e a Política de Não Discriminação do Airbnb.
        </p>
        <p align="center"><strong>Já é cadastrado?</strong><a href="#"> Entrar</a></p>
      </div>
    </div>

    <!-- <div class="modal-footer">
      <a href="#!" class="btn-flat">Fechar</a>
    </div> -->

  </div> <!-- .container -->
</div> <!-- .modal -->
