<header class="navbar-fixed">
  <nav class="N/A transparent">
    <div class="nav-wrapper">
      <ul>
        <!-- Hamburguer menu -->
        <li>
          <a href="javascript:void(0)">
            <i class="material-icons purple-text">dehaze</i>
          </a>
        </li>
        <!-- Logo -->
        <li>
          <a href="#" class="brand-logo center">
            <%= image_tag '/shared/logo-help.png', class: "img-responsive" %>
          </a>
        </li>
        <!--left links for user's-->
        <ul class="right">
          <li>
            <a href="#">
              <i class="material-icons purple-text">mail</i>
            </a>
          </li>
        </ul>

      </ul>
    </div>
  </nav>
</header>
