input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.logo > p {
  border: 60px;
}

.navbar-header ul {
  font-style: none;
}

.navbar-header ul li {
  display: inline;
}

.navbar-header ul li a {
  font-style: none;
}
